<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.com"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/layout.css" />
</head>

<body>
  <div id="body">
    <script th:replace="fragments/fragments::gssScript"></script>

    <header th:replace="fragments/fragments::gsheader" ></header>

    <main layout:fragment="content" id="game"></main>

    <main th:replace="fragments/fragments::gss" id="gss"></main>

    <footer th:replace="fragments/fragments::gsfooter" ></footer>
  </div>
</body>
</html>