<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/layout.css" media="screen" />

</head>

<body>

<header th:fragment="gsheader" id="header">
  <a href="/" id="logo">Game Studio</a>

  <div  th:if="${@userController.logged}" >
    Logged as <span th:text="${@userController.loggedUser}"></span>
    <a href="/logout">Log out.</a>
  </div>
  <div  th:if="not ${@userController.logged}" >
    Logged out. Please, <a href="/gamestudio">log in</a>.
  </div>

</header>

<footer  th:fragment="gsfooter" id="footer">
  <hr />
  GameStudio ver.Tacad.3 2022-11
</footer>
</body>
</html>