<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/layout.css" media="screen" />

</head>

<body>

<header th:fragment="gsheader" id="header">
  <a href="/" id="logo">Game Studio</a>

  <div  th:if="${@userController.logged}" >
    Logged as <span th:text="${@userController.loggedUser}"></span>
    <a href="/logout">Log out.</a>
  </div>
  <div  th:if="not ${@userController.logged}" >
    Logged out. Please, <a href="/gamestudio">log in</a>.
  </div>

</header>

<section th:fragment="gss" id="socialGss">

  <h3>Best Scores</h3>
  <table class="scores">
    <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Score</th>
      <th>Date and time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="score: ${@gssController.bestScores}">
      <td th:text="${scoreStat.index+1}"></td>
      <td th:text="${score.getUserName()}"></td>
      <td th:text="${score.points}"></td>
      <td th:text="${score.playedAt}"></td>
    </tr>
    </tbody>
  </table>

  <h3>Comments (<span th:text="${@gssController.avgRating}"></span>*)</h3>
  <div id="stars" th:utext="${@gssController.userRating}"></div>
  <form action="/comment" method="post" id="addComment">
    <textarea name="text"></textarea><br/>
    <input type="submit" value="Add comment" class="submitBtn"/>
  </form>
  <table class="comments">
    <thead>
    <tr>
      <th>User</th>
      <th>Comment</th>
      <th>Date and time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment: ${@gssController.comments}">
      <td th:text="${comment.getUserName()}"></td>
      <td th:text="${comment.text}"></td>
      <td th:text="${comment.getCommentedAt()}"></td>
    </tr>
    </tbody>
  </table>





</section>

<footer  th:fragment="gsfooter" id="footer">
  <hr />
  GameStudio ver.Tacad.3 2022-11
</footer>
</body>
</html>