<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/layout.css" media="screen" />

</head>

<body>

<header th:fragment="gsheader" id="header">
<!--  <a href="/" id="logo">Game Studio</a>-->


  <table>
    <tr>
      <td><a href="/" id="logo">Game Studio</a></td>
      <td id="headSpace"></td>
      <td>
        <div  th:if="${@userController.logged}" id="headLogged">
        Welcome <b><span th:text="${@userController.loggedUser}"></span></b> !<br/>
        <a href="/logout">Log out?</a>
      </div>
        <form th:if="not ${@userController.logged}" action="/login" method="post"  id="headLogin">
          <label for="login">Login:</label> <input type="text" id="login" name="login" required /> <br />
          <label for="pass">Password:</label> <input type="password" id="pass" name="password" required />
          <button type="submit" id="headBtn">Log in</button>
        </form>
      </td>

    </tr>
  </table>




</header>

<section th:fragment="gss" id="socialGss">

  <h3>Best Scores</h3>
  <table class="scores">
    <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Score</th>
      <th>Date and time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="score: ${@gssController.bestScores}">
      <td th:text="${scoreStat.index+1}"></td>
      <td th:text="${score.getUserName()}"></td>
      <td th:text="${score.points}"></td>
      <td th:text="${score.playedAt}"></td>
    </tr>
    </tbody>
  </table>

  <h3>Comments (<span th:text="${@gssController.avgRating}"></span>*)</h3>
  <div id="stars" th:utext="${@gssController.userRating}"></div>
  <form action="/comment" method="post" id="addComment">
    <textarea name="text"></textarea><br/>
    <input type="submit" value="Add comment" class="submitBtn"/>
  </form>
  <table class="comments">


    <tr th:each="comment: ${@gssController.comments}">
      <td>
<div class="comment">
  <span class="commentAuthor"><a th:href="'/profile/'+${comment.getUserName()}" th:text="${comment.getUserName()}"></a> </span>
  <span class="commentDate" th:text="${comment.getCommentedAt()}"></span>
  <div th:text="${comment.text}"></div>
</div>

      </td>


<!--      <td th:text="${comment.getUserName()}"></td>-->
<!--      <td th:text="${comment.text}"></td>-->
<!--      <td th:text="${comment.getCommentedAt()}"></td>-->
    </tr>

  </table>





</section>

<footer  th:fragment="gsfooter" id="footer">
  GameStudio ver.: 1.0b221125
</footer>
</body>
</html>