* {
   margin: 0;
   padding: 0;
   border: 0;
}


#field,#field tr,#field tr td {display:flex;}
#field tr td {background-image:url("/img/grayPixel.png")}


.light {background-color:#ff0; border-radius: 30%; }
.light:hover {background-color:#dd0}
.dark {background-color:#aaa}
.dark:hover {background-color:#ccc; border-radius: 30%; }


