* {
   margin: 0;
   padding: 0;
   border: 0;
}


.field,.field.tr,.field.tr.td {width:32px;height:32px;display:flex}

.tile {width:32px;height:32px;}
.light {background-color:#ff0}
.light:hover {background-color:#dd0}
.dark {background-color:#aaa}
.dark:hover {background-color:#ccc}


