* {
   margin: 0;
   padding: 0;
   border: 0;
}


.field,.field.tr,.field.tr.td {display:flex}

.empty {background-color:#aaa}
.filled {background-color:#888;border:#888 1px solid;display:block}

.movable:hover {border:#0f0 1px solid;}
.fixed:hover {border:#f00 1px solid;}


