<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.com"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layoutGameStudio.html}"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lights</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/lights.css" media="screen" />


</head>
<body>
<main layout:fragment="content">
    <a href="/">&lt; Main page </a> | <a href="/gamestudio"> GameStudio </a>
    <h2>Lights</h2>
    <!--/*@thymesVar id="minesController" type="sk.tuke.gamestudio.server.controller.MinesController"*/-->
    <a href="/lights/new">Restart game</a><br/><br/>

    <section th:utext="${@lightsController.getHtmlField()}"></section>
    <section th:text="${@lightsController.getGameStatusMsg}"></section>

    <section>
        <h3>Best Scores</h3>
        <table class="scores">
            <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Score</th>
                <th>Date and time</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="score: ${@lightsController.bestScores}">
                <td th:text="${scoreStat.index+1}"></td>
                <td th:text="${score.getUserName()}"></td>
                <td th:text="${score.points}"></td>
                <td th:text="${score.playedAt}"></td>
            </tr>
            </tbody>
        </table>
    </section>
    <script>
        function switchTile(r,c) {
            window.location="/lights?row="+r+"&column="+c;
        }
    </script>
</main>

</body>
</html>