<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.com"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layoutGameStudio.html}"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minesweeper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/mines.css" media="screen" />


</head>
<body>
<main layout:fragment="content" id="game">
    <a href="/welcome">&lt; All Games &lt;</a>
    <h2>Minesweeper v2</h2>
    <!--/*@thymesVar id="minesController" type="sk.tuke.gamestudio.server.controller.MinesController"*/-->
    <a href="/mines/new">Restart game</a><br/><br/>

    <span id="gameStatus"></span>

    <button type="button" id="btNewGame" class="abutton" onclick="processNewGameClick()">New Game</button>
    <section id="minesField">
    </section>

    <script type="text/javascript">

        const viewElements={
            gameStatus: document.getElementById("gameStatus"),
            minesField: document.getElementById("minesField"),
        }

        const fieldUrl="/mines/json";
        const newGameUrl="/mines/jsonnew";

        var tileSize="";


//move?
//        fetchGameFieldAndRenderAll(fieldUrl,bestScoresUrl,viewElements);
        fetchGameFieldAndRenderAll(fieldUrl,viewElements);

//        function fetchGameFieldAndRenderAll(getFieldJsonUrl,getBestScoresJsonUrl,viewElements){
        function fetchGameFieldAndRenderAll(getFieldJsonUrl,viewElements){
            fetch(getFieldJsonUrl)
                .then(response => {
                    if(response.ok){
                        return response.json();
                    }else{
                        return Promise.reject(new Error('Game field acquisition failed. Server answered with status '+response.status));
                    }
                })
                .then(gameFieldData =>{
                    renderGameField(gameFieldData, viewElements);
                    viewElements.gameStatus.innerHTML=getGameStatusMessage(gameFieldData);
//                    if(gameFieldData.state!= "PLAYING"){
//                        fetchAndRenderBestScores(getBestScoresJsonUrl,viewElements);
//                    }
                })
                .catch(error => {
                    let errorMessage = "Failed to get or render the game field. Details:"+error;
                    viewElements.minesField.innerHTML=errorMessage;

                })
        }

        function renderGameField(gameFieldData, viewElements){
            console.log(gameFieldData);
            tileSize="tile"+gameFieldData.columnCount;

            let html2render="<table class='minefield'>\n";
            for (let row=0;row<gameFieldData.rowCount;row++){
                html2render+="<tr>\n";
                for (let col=0;col<gameFieldData.columnCount;col++){

                    let onClickHandling ="";

                    if(gameFieldData.state=="PLAYING" && gameFieldData.tiles[row][col].state!="OPEN"){
                        onClickHandling=`onclick='processTileClick(${row},${col})'`;
                    }

                    html2render+=
                        `
                        <td>
                            ${getTileText(gameFieldData.tiles[row][col],row,col)}
                        </td>
                        `;
                }
                html2render+="</tr>\n";
            }
            html2render+="</table>\n";

            viewElements.minesField.innerHTML=html2render;
            //console.log(html2render);

        }

        function  getTileText(tile,row,col) {

            switch (tile.state) {
                case "OPEN":
                    if (tile.value!= undefined)
                        if(tile.value>0)
                            return "<div class='"+tileSize+" field opened clue"+tile.value+"'>"+tile.value+"</div>";
                        else
                            return "<div class='"+tileSize+" field opened'>&nbsp;</div>"
                    else
                        return "<div class='"+tileSize+" field mineOpened'>*</div>";
                case "CLOSED":
                    return "<div class='"+tileSize+" field closed' onclick='openTile("+row+","+col+")' oncontextmenu='markTile("+row+","+col+");return false;'></div>";
                case "MARKED":
                    return "<div class='"+tileSize+" field marked' oncontextmenu='markTile("+row+","+col+");return false;'>!</div>";
                default:
                    return "?";
            }
        }

        /* to delete */
        function  getTileClass(tile) {
            switch (tile.state) {
                case "OPEN":
                    if (tile.value!= undefined)
                        return "open" + tile.value;
                else
                    return "mine";
                case "CLOSED":
                    return "closed";
                case "MARKED":
                    return "marked";
                default:
                    return "unknown";
            }
        }

        function getGameStatusMessage(gameFieldData){
            let gameStatus="";
            if(gameFieldData.state== "FAILED"){
                gameStatus="You failed.";
            }else if(gameFieldData.state== "SOLVED"){
                gameStatus="You won (score: "+gameFieldData.score+")";
            }else{
                gameStatus="Playing... ";
                if(gameFieldData.marking){
                    gameStatus+="marking";
                }else{
                    gameStatus+="opening";
                }
            }
            return gameStatus;
        }

        function processNewGameClick(){
            fetchGameFieldAndRenderAll(newGameUrl,bestScoresUrl,viewElements);
        }

        function openTile(row,col) {
                    const fieldUrlWCoords=`${fieldUrl}?row=${row}&column=${col}&action=o`;
            fetchGameFieldAndRenderAll(fieldUrlWCoords,bestScoresUrl,viewElements);
}
        function markTile(row,col) {
                    const fieldUrlWCoords=`${fieldUrl}?row=${row}&column=${col}&action=m`;
            fetchGameFieldAndRenderAll(fieldUrlWCoords,bestScoresUrl,viewElements);
            return false;
}
</script>

</main>

</body>
</html>