<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Minesweeper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        function open(r,c) {
            document.location.href="?row="+r+"&amp;column="+c+"&amp;action=o";
            window.location="?row="+r+"&amp;column="+c+"&amp;action=o";
            return false;
}



    </script>
</head>
<body>
<main>
    <h2>Minesweeper</h2>
    <!--/*@thymesVar id="minesController" type="sk.tuke.gamestudio.server.controller.MinesController"*/-->

    <section th:utext="${@minesController.getHtmlField()}"></section>

</main>
</body>
</html>