<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.com"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layoutGameStudio.html}"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minesweeper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/mines.css" media="screen" />


</head>
<body>
<main layout:fragment="content" id="game">
    <a href="/welcome">&lt; All Games &lt;</a>
    <h2>Minesweeper</h2>
    <!--/*@thymesVar id="minesController" type="sk.tuke.gamestudio.server.controller.MinesController"*/-->
    <a href="/mines/new">Restart game</a><br/><br/>

    <section th:utext="${@minesController.getHtmlField()}"></section>
    <section th:text="${@minesController.getGameStatusMsg}"></section>

    <script>
        function openTile(r,c) {
            window.location="/mines?row="+r+"&column="+c+"&action=o";
}
        function markTile(r,c) {
            window.location="/mines?row="+r+"&column="+c+"&action=m";
            return false;
}
    </script>
</main>

</body>
</html>